@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Курсова робота з Баз Даних</h1>
    <p class="lead" style="text-align: center; font-size: 32px; ">Студента групи ІС-11</p>
    <p class="lead" style="text-align: center; font-size: 32px;">Терещука Кирила</p>

    <p class="lead" style="font-size: 24px">Тема: Розробка головного календарного плану виробництва</p>
    <p class="lead">
        Головний календарний план виробництва (Master Production Shedule, MPS) містить
        відомості про те, що і коли компанія планує виробляти в термінах конкретних
        конфігурацій, кількостей і дат.
    </p>
    <p class="lead">
        MPS складається людиною – Головним планувальником, особою, відповідальною
        за розробку, перегляд та ведення MPS. Вхідною інформацією для формування MPS є
        замовлення покупців. В процесі приймання нового замовлення воно лише оцінюється
        Головним планувальником на реалістичність по кільком ключовим ресурсам, як у S&OP
        (див. предметну область «Планування продажу і операцій на машинобудівному
        підприємстві»). В замовленні вказані:
    </p>
    <ul class="lead">
        <li>Покупець.</li>
        <li>Дата відвантаження.</li>
        <li>Перелік видів продукції з указанням кількості, ціни і суми кожного виду.</li>
    </ul>
    <p class="lead">
        У MPS для кожного виду продукції на кожну дату відображаються:
    </p>
    <ul class="lead">
        <li>Зарезервовано для відвантаження покупцям,</li>
        <li>Відвантаження по замовленнях покупців,</li>
        <li>Внутрішній попит*,</li>
        <li>Виробництво*,</li>
        <li>Прогнозований складський залишок,</li>
        <li>Доступно для обіцянки (available-to-promice, ATP).</li>
    </ul>
    <p>
        * Ці величини визначаються в процесі Планування потреби в матеріалах (Material Resource
        Planning, MRP) і є вхідними для даної задачі.
    </p>
</div>

